{% extends 'blog/base.html' %}

{% load static %}

{% block title %} Номера Гостиницы Горный Воздух {% endblock %}

{% block meta %}
  <meta name="description" content="О нас"/>
  <meta property="og:title" content="О нас"/>
  <meta property="og:description" content="О нас"/>
{% endblock %}

{% block content %}

<body>
    <div class="header-page wf-section">
      {% include 'blog/navbar.html' %}
    </div>
    <div class="page-header wf-section">
      <div class="w-container">
        <h2 class="page-header-h2">О нас</h2>
        <div class="header-page-line"></div>
      </div>
    </div>
    
    <div class="about_us-page wf-section">
      <div class="w-container">
        <p>
          Гостевой дом «Горный Воздух» - в любую погоду с нами уютно! Добро пожаловать в мир отдыха в горах.
        </p>
        <p>
          Прекрасные пейзажи, чистый горный воздух с запахом хвои, лесных трав и цветов, пение птиц, шум горной реки – все это благотворно повлияет на Вас и сделает отдых особенным. Наши уютные, экологически чистые, оснащенные всем необходимым комнаты в деревянном срубе создадут уют и позволят Вам максимально расслабиться и комфортно отдохнуть в свое удовольствие. 
        </p>
        <div class="gallery-container">
          <div class="gallery-item">
            <a
              href="#"
              class="gallery-page-image w-inline-block w-lightbox"
              aria-label="open lightbox"
              aria-haspopup="dialog">
              <img
                src="/media/photologue/photos/_-58.jpg"
                loading="lazy"
                srcset="
                  /media/photologue/photos/_-58.jpg  500w,
                  /media/photologue/photos/_-58.jpg  800w,
                  /media/photologue/photos/_-58.jpg 1024w
                "
                sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 29vw, 290.2083435058594px"
                alt="" />
              <script type="application/json" class="w-json">
                {
                  "items": [
                    {
                      "_id": "example_img",
                      "origFileName": "_-58.jpg",
                      "fileName": "_-58.jpg",
                      "fileSize": 209587,
                      "height": 683,
                      "url": "/media/photologue/photos/_-58.jpg",
                      "width": 1024,
                      "type": "image"
                    }
                  ],
                  "group": "О нас"
                }
              </script>
            </a>
          </div>
          <div class="gallery-item">
            <a
              href="#"
              class="gallery-page-image w-inline-block w-lightbox"
              aria-label="open lightbox"
              aria-haspopup="dialog">
              <img
                src="/media/photologue/photos/_-60.jpg"
                loading="lazy"
                srcset="
                  /media/photologue/photos/_-60.jpg  500w,
                  /media/photologue/photos/_-60.jpg  800w,
                  /media/photologue/photos/_-60.jpg 1024w
                "
                sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 29vw, 290.2083435058594px"
                alt="" />
              <script type="application/json" class="w-json">
                {
                  "items": [
                    {
                      "_id": "example_img",
                      "origFileName": "_-60.jpg",
                      "fileName": "_-60.jpg",
                      "fileSize": 209587,
                      "height": 683,
                      "url": "/media/photologue/photos/_-60.jpg",
                      "width": 1024,
                      "type": "image"
                    }
                  ],
                  "group": "О нас"
                }
              </script>
            </a>
          </div>
          <div class="gallery-item">
            <a
              href="#"
              class="gallery-page-image w-inline-block w-lightbox"
              aria-label="open lightbox"
              aria-haspopup="dialog">
              <img
                src="/media/photologue/photos/_-63.jpg"
                loading="lazy"
                srcset="
                  /media/photologue/photos/_-63.jpg  500w,
                  /media/photologue/photos/_-63.jpg  800w,
                  /media/photologue/photos/_-63.jpg 1024w
                "
                sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 29vw, 290.2083435058594px"
                alt="" />
              <script type="application/json" class="w-json">
                {
                  "items": [
                    {
                      "_id": "example_img",
                      "origFileName": "_-63.jpg",
                      "fileName": "_-63.jpg",
                      "fileSize": 209587,
                      "height": 683,
                      "url": "/media/photologue/photos/_-63.jpg",
                      "width": 1024,
                      "type": "image"
                    }
                  ],
                  "group": "О нас"
                }
              </script>
            </a>
          </div>
        </div>

        <p>
          Широкая веранда с большим обеденным столом перед каждым входом с видом на г. Абаго и г. Тыбга даёт возможность посидеть за чашечкой напитка и создает уютную загородную атмосферу. А по вечерам у нас показывают потрясающие виды звездного неба, поверьте – это незабываемые впечатления!
        </p>

        <div class="gallery-container">
          <div class="gallery-item">
            <a
              href="#"
              class="gallery-page-image w-inline-block w-lightbox"
              aria-label="open lightbox"
              aria-haspopup="dialog">
              <img
                src="/media/photologue/photos/_-123.jpg"
                loading="lazy"
                srcset="
                  /media/photologue/photos/_-123.jpg  500w,
                  /media/photologue/photos/_-123.jpg  800w,
                  /media/photologue/photos/_-123.jpg 1024w
                "
                sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 29vw, 290.2083435058594px"
                alt="" />
              <script type="application/json" class="w-json">
                {
                  "items": [
                    {
                      "_id": "example_img",
                      "origFileName": "_-123.jpg",
                      "fileName": "_-123.jpg",
                      "fileSize": 209587,
                      "height": 683,
                      "url": "/media/photologue/photos/_-123.jpg",
                      "width": 1024,
                      "type": "image"
                    }
                  ],
                  "group": "О нас"
                }
              </script>
            </a>
          </div>
          <div class="gallery-item">
            <a
              href="#"
              class="gallery-page-image w-inline-block w-lightbox"
              aria-label="open lightbox"
              aria-haspopup="dialog">
              <img
                src="/media/photologue/photos/_-1.jpg"
                loading="lazy"
                srcset="
                  /media/photologue/photos/_-126.jpg  500w,
                  /media/photologue/photos/_-126.jpg  800w,
                  /media/photologue/photos/_-126.jpg 1024w
                "
                sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 29vw, 290.2083435058594px"
                alt="" />
              <script type="application/json" class="w-json">
                {
                  "items": [
                    {
                      "_id": "example_img",
                      "origFileName": "_-126.jpg",
                      "fileName": "_-126.jpg",
                      "fileSize": 209587,
                      "height": 683,
                      "url": "/media/photologue/photos/_-126.jpg",
                      "width": 1024,
                      "type": "image"
                    }
                  ],
                  "group": "О нас"
                }
              </script>
            </a>
          </div>
          <div class="gallery-item">
            <a
              href="#"
              class="gallery-page-image w-inline-block w-lightbox"
              aria-label="open lightbox"
              aria-haspopup="dialog">
              <img
                src="/media/photologue/photos/_-134.jpg"
                loading="lazy"
                srcset="
                  /media/photologue/photos/_-134.jpg  500w,
                  /media/photologue/photos/_-134.jpg  800w,
                  /media/photologue/photos/_-134.jpg 1024w
                "
                sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 29vw, 290.2083435058594px"
                alt="" />
              <script type="application/json" class="w-json">
                {
                  "items": [
                    {
                      "_id": "example_img",
                      "origFileName": "_-134.jpg",
                      "fileName": "_-134.jpg",
                      "fileSize": 209587,
                      "height": 683,
                      "url": "/media/photologue/photos/_-134.jpg",
                      "width": 1024,
                      "type": "image"
                    }
                  ],
                  "group": "О нас"
                }
              </script>
            </a>
          </div>
        </div>

        <p>
          Гостевой дом в горах – это уникальное место, где можно полностью насладиться природой. Здесь вы найдете спокойствие и уединение, которые нужны для полноценного восстановления. 
          <br/>
          Гостевой дом «Горный Воздух» с Вами с любую погоду!
        </p>
      </div>
    </div>

{% endblock %}