{% extends 'blog/base.html' %} {% load static %} 
{% block title %} Фотографии Гостиницы Горный воздух {% endblock %} 

{% block meta %}
  <meta name="description" content="Вид на горы из окон гостиницы Горный Воздух. Природа заповедника"/>
  <meta property="og:title" content="Фотографии Гостиницы Горный воздух"/>
  <meta property="og:description" content="Вид на горы из окон гостиницы Горный Воздух. Природа заповедника"/>
{% endblock %}

{% block content %}
<body>
  <div class="header-page wf-section">{% include 'blog/navbar.html' %}</div>
  <div class="page-header wf-section">
    <div class="w-container">
      <h2 class="page-header-h2">Галерея</h2>
      <div class="header-page-line"></div>
    </div>
  </div>
  <div class="gallery-page wf-section">
    <div class="w-container">
      <h3 class="gallery-header">Гостица</h3>
      <div class="gallery-container">
        <div class="gallery-item">
          <a
            href="#"
            class="gallery-page-image w-inline-block w-lightbox"
            aria-label="open lightbox"
            aria-haspopup="dialog">
            <img
              src="/media/photologue/photos/_-1.jpg"
              loading="lazy"
              srcset="
                /media/photologue/photos/_-1.jpg  500w,
                /media/photologue/photos/_-1.jpg  800w,
                /media/photologue/photos/_-1.jpg 1024w
              "
              sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 29vw, 290.2083435058594px"
              alt="" />
            <script type="application/json" class="w-json">
              {
                "items": [
                  {
                    "_id": "example_img",
                    "origFileName": "_-1.jpg",
                    "fileName": "_-1.jpg",
                    "fileSize": 209587,
                    "height": 683,
                    "url": "/media/photologue/photos/_-1.jpg",
                    "width": 1024,
                    "type": "image"
                  }
                ],
                "group": "Гостиница"
              }
            </script>
          </a>
        </div>
        <div class="gallery-item">
          <a
            href="#"
            class="w-inline-block w-lightbox"
            aria-label="open lightbox"
            aria-haspopup="dialog">
            <img
              src="/media/photologue/photos/_-2.jpg"
              loading="lazy"
              srcset="
                /media/photologue/photos/_-2.jpg  500w,
                /media/photologue/photos/_-2.jpg  800w,
                /media/photologue/photos/_-2.jpg 1024w
              "
              sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 29vw, 290.2083435058594px"
              alt="" />
            <script type="application/json" class="w-json">
              {
                "items": [
                  {
                    "_id": "example_img",
                    "origFileName": "_-2.jpg",
                    "fileName": "_-2.jpg",
                    "fileSize": 209587,
                    "height": 683,
                    "url": "/media/photologue/photos/_-2.jpg",
                    "width": 1024,
                    "type": "image"
                  }
                ],
                "group": "Гостиница"
              }
            </script>
          </a>
        </div>
        <div class="gallery-item">
          <a
            href="#"
            class="w-inline-block w-lightbox"
            aria-label="open lightbox"
            aria-haspopup="dialog">
            <img
              src="/media/photologue/photos/_-5.jpg"
              loading="lazy"
              srcset="
                /media/photologue/photos/_-5.jpg  500w,
                /media/photologue/photos/_-5.jpg  800w,
                /media/photologue/photos/_-5.jpg 1024w
              "
              sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 29vw, 290.2083435058594px"
              alt="" />
            <script type="application/json" class="w-json">
              {
                "items": [
                  {
                    "_id": "example_img",
                    "origFileName": "_-5.jpg",
                    "fileName": "_-5.jpg",
                    "fileSize": 209587,
                    "height": 683,
                    "url": "/media/photologue/photos/_-5.jpg",
                    "width": 1024,
                    "type": "image"
                  }
                ],
                "group": "Гостиница"
              }
            </script>
          </a>
        </div>
        <div class="gallery-item">
          <a
            href="#"
            class="w-inline-block w-lightbox"
            aria-label="open lightbox"
            aria-haspopup="dialog">
            <img
              src="/media/photologue/photos/_-7.jpg"
              loading="lazy"
              srcset="
                /media/photologue/photos/_-7.jpg  500w,
                /media/photologue/photos/_-7.jpg  800w,
                /media/photologue/photos/_-7.jpg 1024w
              "
              sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 29vw, 290.2083435058594px"
              alt="" />
            <script type="application/json" class="w-json">
              {
                "items": [
                  {
                    "_id": "example_img",
                    "origFileName": "_-7.jpg",
                    "fileName": "_-7.jpg",
                    "fileSize": 209587,
                    "height": 683,
                    "url": "/media/photologue/photos/_-7.jpg",
                    "width": 1024,
                    "type": "image"
                  }
                ],
                "group": "Гостиница"
              }
            </script>
          </a>
        </div>
        <div class="gallery-item">
          <a
            href="#"
            class="w-inline-block w-lightbox"
            aria-label="open lightbox"
            aria-haspopup="dialog">
            <img
              src="/media/photologue/photos/_-10.jpg"
              loading="lazy"
              srcset="
                /media/photologue/photos/_-10.jpg  500w,
                /media/photologue/photos/_-10.jpg  800w,
                /media/photologue/photos/_-10.jpg 1024w
              "
              sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 29vw, 290.2083435058594px"
              alt="" />
            <script type="application/json" class="w-json">
              {
                "items": [
                  {
                    "_id": "example_img",
                    "origFileName": "_-10.jpg",
                    "fileName": "_-10.jpg",
                    "fileSize": 209587,
                    "height": 683,
                    "url": "/media/photologue/photos/_-10.jpg",
                    "width": 1024,
                    "type": "image"
                  }
                ],
                "group": "Гостиница"
              }
            </script>
          </a>
        </div>
        <div class="gallery-item">
          <a
            href="#"
            class="w-inline-block w-lightbox"
            aria-label="open lightbox"
            aria-haspopup="dialog">
            <img
              src="/media/photologue/photos/_-12.jpg"
              loading="lazy"
              srcset="
                /media/photologue/photos/_-12.jpg  500w,
                /media/photologue/photos/_-12.jpg  800w,
                /media/photologue/photos/_-12.jpg 1024w
              "
              sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 29vw, 290.2083435058594px"
              alt="" />
            <script type="application/json" class="w-json">
              {
                "items": [
                  {
                    "_id": "example_img",
                    "origFileName": "_-12.jpg",
                    "fileName": "_-12.jpg",
                    "fileSize": 209587,
                    "height": 683,
                    "url": "/media/photologue/photos/_-12.jpg",
                    "width": 1024,
                    "type": "image"
                  }
                ],
                "group": "Гостиница"
              }
            </script>
          </a>
        </div>
        <div class="gallery-item">
          <a
            href="#"
            class="w-inline-block w-lightbox"
            aria-label="open lightbox"
            aria-haspopup="dialog">
            <img
              src="/media/photologue/photos/_-13.jpg"
              loading="lazy"
              srcset="
                /media/photologue/photos/_-13.jpg  500w,
                /media/photologue/photos/_-13.jpg  800w,
                /media/photologue/photos/_-13.jpg 1024w
              "
              sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 29vw, 290.2083435058594px"
              alt="" />
            <script type="application/json" class="w-json">
              {
                "items": [
                  {
                    "_id": "example_img",
                    "origFileName": "_-13.jpg",
                    "fileName": "_-13.jpg",
                    "fileSize": 209587,
                    "height": 683,
                    "url": "/media/photologue/photos/_-13.jpg",
                    "width": 1024,
                    "type": "image"
                  }
                ],
                "group": "Гостиница"
              }
            </script>
          </a>
        </div>
        <div class="gallery-item">
          <a
            href="#"
            class="w-inline-block w-lightbox"
            aria-label="open lightbox"
            aria-haspopup="dialog">
            <img
              src="/media/photologue/photos/_-16.jpg"
              loading="lazy"
              srcset="
                /media/photologue/photos/_-16.jpg  500w,
                /media/photologue/photos/_-16.jpg  800w,
                /media/photologue/photos/_-16.jpg 1024w
              "
              sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 29vw, 290.2083435058594px"
              alt="" />
            <script type="application/json" class="w-json">
              {
                "items": [
                  {
                    "_id": "example_img",
                    "origFileName": "_-16.jpg",
                    "fileName": "_-16.jpg",
                    "fileSize": 209587,
                    "height": 683,
                    "url": "/media/photologue/photos/_-16.jpg",
                    "width": 1024,
                    "type": "image"
                  }
                ],
                "group": "Гостиница"
              }
            </script>
          </a>
        </div>
        <div class="gallery-item">
          <a
            href="#"
            class="w-inline-block w-lightbox"
            aria-label="open lightbox"
            aria-haspopup="dialog">
            <img
              src="/media/photologue/photos/_-17.jpg"
              loading="lazy"
              srcset="
                /media/photologue/photos/_-17.jpg  500w,
                /media/photologue/photos/_-17.jpg  800w,
                /media/photologue/photos/_-17.jpg 1024w
              "
              sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 29vw, 290.2083435058594px"
              alt="" />
            <script type="application/json" class="w-json">
              {
                "items": [
                  {
                    "_id": "example_img",
                    "origFileName": "_-17.jpg",
                    "fileName": "_-17.jpg",
                    "fileSize": 209587,
                    "height": 683,
                    "url": "/media/photologue/photos/_-17.jpg",
                    "width": 1024,
                    "type": "image"
                  }
                ],
                "group": "Гостиница"
              }
            </script>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="gallery-page wf-section">
    <div class="w-container">
      <h3 class="gallery-header">Территория</h3>
      <div class="gallery-container">
        <div class="gallery-item">
          <a
            href="#"
            class="gallery-page-image w-inline-block w-lightbox"
            aria-label="open lightbox"
            aria-haspopup="dialog">
            <img
              src="/media/photologue/photos/_-11.jpg"
              loading="lazy"
              srcset="
                /media/photologue/photos/_-11.jpg  500w,
                /media/photologue/photos/_-11.jpg  800w,
                /media/photologue/photos/_-11.jpg 1024w
              "
              sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 29vw, 290.2083435058594px"
              alt="" />
            <script type="application/json" class="w-json">
              {
                "items": [
                  {
                    "_id": "example_img",
                    "origFileName": "_-11.jpg",
                    "fileName": "_-11.jpg",
                    "fileSize": 209587,
                    "height": 683,
                    "url": "/media/photologue/photos/_-11.jpg",
                    "width": 1024,
                    "type": "image"
                  }
                ],
                "group": "Территория"
              }
            </script>
          </a>
        </div>
        <div class="gallery-item">
          <a
            href="#"
            class="w-inline-block w-lightbox"
            aria-label="open lightbox"
            aria-haspopup="dialog">
            <img
              src="/media/photologue/photos/_-14.jpg"
              loading="lazy"
              srcset="
                /media/photologue/photos/_-14.jpg  500w,
                /media/photologue/photos/_-14.jpg  800w,
                /media/photologue/photos/_-14.jpg 1024w
              "
              sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 29vw, 290.2083435058594px"
              alt="" />
            <script type="application/json" class="w-json">
              {
                "items": [
                  {
                    "_id": "example_img",
                    "origFileName": "_-14.jpg",
                    "fileName": "_-14.jpg",
                    "fileSize": 209587,
                    "height": 683,
                    "url": "/media/photologue/photos/_-14.jpg",
                    "width": 1024,
                    "type": "image"
                  }
                ],
                "group": "Территория"
              }
            </script>
          </a>
        </div>
        <div class="gallery-item">
          <a
            href="#"
            class="w-inline-block w-lightbox"
            aria-label="open lightbox"
            aria-haspopup="dialog">
            <img
              src="/media/photologue/photos/_-19.jpg"
              loading="lazy"
              srcset="
                /media/photologue/photos/_-19.jpg  500w,
                /media/photologue/photos/_-19.jpg  800w,
                /media/photologue/photos/_-19.jpg 1024w
              "
              sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 29vw, 290.2083435058594px"
              alt="" />
            <script type="application/json" class="w-json">
              {
                "items": [
                  {
                    "_id": "example_img",
                    "origFileName": "_-19.jpg",
                    "fileName": "_-19.jpg",
                    "fileSize": 209587,
                    "height": 683,
                    "url": "/media/photologue/photos/_-19.jpg",
                    "width": 1024,
                    "type": "image"
                  }
                ],
                "group": "Территория"
              }
            </script>
          </a>
        </div>
        <div class="gallery-item">
          <a
            href="#"
            class="w-inline-block w-lightbox"
            aria-label="open lightbox"
            aria-haspopup="dialog">
            <img
              src="/media/photologue/photos/_-3.jpg"
              loading="lazy"
              srcset="
                /media/photologue/photos/_-3.jpg  500w,
                /media/photologue/photos/_-3.jpg  800w,
                /media/photologue/photos/_-3.jpg 1024w
              "
              sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 29vw, 290.2083435058594px"
              alt="" />
            <script type="application/json" class="w-json">
              {
                "items": [
                  {
                    "_id": "example_img",
                    "origFileName": "_-3.jpg",
                    "fileName": "_-3.jpg",
                    "fileSize": 209587,
                    "height": 683,
                    "url": "/media/photologue/photos/_-3.jpg",
                    "width": 1024,
                    "type": "image"
                  }
                ],
                "group": "Территория"
              }
            </script>
          </a>
        </div>
        <div class="gallery-item">
          <a
            href="#"
            class="w-inline-block w-lightbox"
            aria-label="open lightbox"
            aria-haspopup="dialog">
            <img
              src="/media/photologue/photos/_-4.jpg"
              loading="lazy"
              srcset="
                /media/photologue/photos/_-4.jpg  500w,
                /media/photologue/photos/_-4.jpg  800w,
                /media/photologue/photos/_-4.jpg 1024w
              "
              sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 29vw, 290.2083435058594px"
              alt="" />
            <script type="application/json" class="w-json">
              {
                "items": [
                  {
                    "_id": "example_img",
                    "origFileName": "_-4.jpg",
                    "fileName": "_-4.jpg",
                    "fileSize": 209587,
                    "height": 683,
                    "url": "/media/photologue/photos/_-4.jpg",
                    "width": 1024,
                    "type": "image"
                  }
                ],
                "group": "Территория"
              }
            </script>
          </a>
        </div>
        <div class="gallery-item">
          <a
            href="#"
            class="w-inline-block w-lightbox"
            aria-label="open lightbox"
            aria-haspopup="dialog">
            <img
              src="/media/photologue/photos/_-76.jpg"
              loading="lazy"
              srcset="
                /media/photologue/photos/_-76.jpg  500w,
                /media/photologue/photos/_-76.jpg  800w,
                /media/photologue/photos/_-76.jpg 1024w
              "
              sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 29vw, 290.2083435058594px"
              alt="" />
            <script type="application/json" class="w-json">
              {
                "items": [
                  {
                    "_id": "example_img",
                    "origFileName": "_-76.jpg",
                    "fileName": "_-76.jpg",
                    "fileSize": 209587,
                    "height": 683,
                    "url": "/media/photologue/photos/_-76.jpg",
                    "width": 1024,
                    "type": "image"
                  }
                ],
                "group": "Территория"
              }
            </script>
          </a>
        </div>
        <div class="gallery-item">
          <a
            href="#"
            class="w-inline-block w-lightbox"
            aria-label="open lightbox"
            aria-haspopup="dialog">
            <img
              src="/media/photologue/photos/_DSC07531.jpg"
              loading="lazy"
              srcset="
                /media/photologue/photos/_DSC07531.jpg  500w,
                /media/photologue/photos/_DSC07531.jpg  800w,
                /media/photologue/photos/_DSC07531.jpg 1024w
              "
              sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 29vw, 290.2083435058594px"
              alt="" />
            <script type="application/json" class="w-json">
              {
                "items": [
                  {
                    "_id": "example_img",
                    "origFileName": "_DSC07531.jpg",
                    "fileName": "_DSC07531.jpg",
                    "fileSize": 209587,
                    "height": 683,
                    "url": "/media/photologue/photos/_DSC07531.jpg",
                    "width": 1024,
                    "type": "image"
                  }
                ],
                "group": "Территория"
              }
            </script>
          </a>
        </div>
        <div class="gallery-item">
          <a
            href="#"
            class="w-inline-block w-lightbox"
            aria-label="open lightbox"
            aria-haspopup="dialog">
            <img
              src="/media/photologue/photos/_DSC07532.jpg"
              loading="lazy"
              srcset="
                /media/photologue/photos/_DSC07532.jpg  500w,
                /media/photologue/photos/_DSC07532.jpg  800w,
                /media/photologue/photos/_DSC07532.jpg 1024w
              "
              sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 29vw, 290.2083435058594px"
              alt="" />
            <script type="application/json" class="w-json">
              {
                "items": [
                  {
                    "_id": "example_img",
                    "origFileName": "_DSC07532.jpg",
                    "fileName": "_DSC07532.jpg",
                    "fileSize": 209587,
                    "height": 683,
                    "url": "/media/photologue/photos/_DSC07532.jpg",
                    "width": 1024,
                    "type": "image"
                  }
                ],
                "group": "Территория"
              }
            </script>
          </a>
        </div>
        <div class="gallery-item">
          <a
            href="#"
            class="w-inline-block w-lightbox"
            aria-label="open lightbox"
            aria-haspopup="dialog">
            <img
              src="/media/photologue/photos/_DSC07537.jpg"
              loading="lazy"
              srcset="
                /media/photologue/photos/_DSC07537.jpg  500w,
                /media/photologue/photos/_DSC07537.jpg  800w,
                /media/photologue/photos/_DSC07537.jpg 1024w
              "
              sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 29vw, 290.2083435058594px"
              alt="" />
            <script type="application/json" class="w-json">
              {
                "items": [
                  {
                    "_id": "example_img",
                    "origFileName": "_DSC07537.jpg",
                    "fileName": "_DSC07537.jpg",
                    "fileSize": 209587,
                    "height": 683,
                    "url": "/media/photologue/photos/_DSC07537.jpg",
                    "width": 1024,
                    "type": "image"
                  }
                ],
                "group": "Территория"
              }
            </script>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="gallery-page wf-section">
    <div class="w-container">
      <h3 class="gallery-header">Природа</h3>
      <div class="gallery-container">
        <div class="gallery-item">
          <a
            href="#"
            class="gallery-page-image w-inline-block w-lightbox"
            aria-label="open lightbox"
            aria-haspopup="dialog">
            <img
              src="/media/photologue/photos/_-143.jpg"
              loading="lazy"
              srcset="
                /media/photologue/photos/_-143.jpg  500w,
                /media/photologue/photos/_-43.jpg   800w,
                /media/photologue/photos/_-143.jpg 1024w
              "
              sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 29vw, 290.2083435058594px"
              alt="" />
            <script type="application/json" class="w-json">
              {
                "items": [
                  {
                    "_id": "example_img",
                    "origFileName": "_-143.jpg",
                    "fileName": "_-143.jpg",
                    "fileSize": 209587,
                    "height": 683,
                    "url": "/media/photologue/photos/_-143.jpg",
                    "width": 1024,
                    "type": "image"
                  }
                ],
                "group": "Природа"
              }
            </script>
          </a>
        </div>
        <div class="gallery-item">
          <a
            href="#"
            class="w-inline-block w-lightbox"
            aria-label="open lightbox"
            aria-haspopup="dialog">
            <img
              src="/media/photologue/photos/_-123.jpg"
              loading="lazy"
              srcset="
                /media/photologue/photos/_-123.jpg  500w,
                /media/photologue/photos/_-123.jpg  800w,
                /media/photologue/photos/_-123.jpg 1024w
              "
              sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 29vw, 290.2083435058594px"
              alt="" />
            <script type="application/json" class="w-json">
              {
                "items": [
                  {
                    "_id": "example_img",
                    "origFileName": "_-123.jpg",
                    "fileName": "_-123.jpg",
                    "fileSize": 209587,
                    "height": 683,
                    "url": "/media/photologue/photos/_-123.jpg",
                    "width": 1024,
                    "type": "image"
                  }
                ],
                "group": "Природа"
              }
            </script>
          </a>
        </div>
        <div class="gallery-item">
          <a
            href="#"
            class="w-inline-block w-lightbox"
            aria-label="open lightbox"
            aria-haspopup="dialog">
            <img
              src="/media/photologue/photos/_-126.jpg"
              loading="lazy"
              srcset="
                /media/photologue/photos/_-126.jpg  500w,
                /media/photologue/photos/_-126.jpg  800w,
                /media/photologue/photos/_-126.jpg 1024w
              "
              sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 29vw, 290.2083435058594px"
              alt="" />
            <script type="application/json" class="w-json">
              {
                "items": [
                  {
                    "_id": "example_img",
                    "origFileName": "_-126.jpg",
                    "fileName": "_-126.jpg",
                    "fileSize": 209587,
                    "height": 683,
                    "url": "/media/photologue/photos/_-126.jpg",
                    "width": 1024,
                    "type": "image"
                  }
                ],
                "group": "Природа"
              }
            </script>
          </a>
        </div>
        <div class="gallery-item">
          <a
            href="#"
            class="w-inline-block w-lightbox"
            aria-label="open lightbox"
            aria-haspopup="dialog">
            <img
              src="/media/photologue/photos/_-130.jpg"
              loading="lazy"
              srcset="
                /media/photologue/photos/_-130.jpg  500w,
                /media/photologue/photos/_-130.jpg  800w,
                /media/photologue/photos/_-130.jpg 1024w
              "
              sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 29vw, 290.2083435058594px"
              alt="" />
            <script type="application/json" class="w-json">
              {
                "items": [
                  {
                    "_id": "example_img",
                    "origFileName": "_-130.jpg",
                    "fileName": "_-130.jpg",
                    "fileSize": 209587,
                    "height": 683,
                    "url": "/media/photologue/photos/_-130.jpg",
                    "width": 1024,
                    "type": "image"
                  }
                ],
                "group": "Природа"
              }
            </script>
          </a>
        </div>
        <div class="gallery-item">
          <a
            href="#"
            class="w-inline-block w-lightbox"
            aria-label="open lightbox"
            aria-haspopup="dialog">
            <img
              src="/media/photologue/photos/_-134.jpg"
              loading="lazy"
              srcset="
                /media/photologue/photos/_-134.jpg  500w,
                /media/photologue/photos/_-134.jpg  800w,
                /media/photologue/photos/_-134.jpg 1024w
              "
              sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 29vw, 290.2083435058594px"
              alt="" />
            <script type="application/json" class="w-json">
              {
                "items": [
                  {
                    "_id": "example_img",
                    "origFileName": "_-134.jpg",
                    "fileName": "_-134.jpg",
                    "fileSize": 209587,
                    "height": 683,
                    "url": "/media/photologue/photos/_-134.jpg",
                    "width": 1024,
                    "type": "image"
                  }
                ],
                "group": "Природа"
              }
            </script>
          </a>
        </div>
        <div class="gallery-item">
          <a
            href="#"
            class="w-inline-block w-lightbox"
            aria-label="open lightbox"
            aria-haspopup="dialog">
            <img
              src="/media/photologue/photos/_-142.jpg"
              loading="lazy"
              srcset="
                /media/photologue/photos/_-142.jpg  500w,
                /media/photologue/photos/_-142.jpg  800w,
                /media/photologue/photos/_-142.jpg 1024w
              "
              sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 29vw, 290.2083435058594px"
              alt="" />
            <script type="application/json" class="w-json">
              {
                "items": [
                  {
                    "_id": "example_img",
                    "origFileName": "_-142.jpg",
                    "fileName": "_-142.jpg",
                    "fileSize": 209587,
                    "height": 683,
                    "url": "/media/photologue/photos/_-142.jpg",
                    "width": 1024,
                    "type": "image"
                  }
                ],
                "group": "Природа"
              }
            </script>
          </a>
        </div>
        <div class="gallery-item">
          <a
            href="#"
            class="w-inline-block w-lightbox"
            aria-label="open lightbox"
            aria-haspopup="dialog">
            <img
              src="/media/photologue/photos/_-147.jpg"
              loading="lazy"
              srcset="
                /media/photologue/photos/_-147.jpg  500w,
                /media/photologue/photos/_-147.jpg  800w,
                /media/photologue/photos/_-147.jpg 1024w
              "
              sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 29vw, 290.2083435058594px"
              alt="" />
            <script type="application/json" class="w-json">
              {
                "items": [
                  {
                    "_id": "example_img",
                    "origFileName": "_-147.jpg",
                    "fileName": "_-147.jpg",
                    "fileSize": 209587,
                    "height": 683,
                    "url": "/media/photologue/photos/_-147.jpg",
                    "width": 1024,
                    "type": "image"
                  }
                ],
                "group": "Природа"
              }
            </script>
          </a>
        </div>
        <div class="gallery-item">
          <a
            href="#"
            class="w-inline-block w-lightbox"
            aria-label="open lightbox"
            aria-haspopup="dialog">
            <img
              src="/media/photologue/photos/_-28.jpg"
              loading="lazy"
              srcset="
                /media/photologue/photos/_-28.jpg  500w,
                /media/photologue/photos/_-28.jpg  800w,
                /media/photologue/photos/_-28.jpg 1024w
              "
              sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 29vw, 290.2083435058594px"
              alt="" />
            <script type="application/json" class="w-json">
              {
                "items": [
                  {
                    "_id": "example_img",
                    "origFileName": "_-28.jpg",
                    "fileName": "_-28.jpg",
                    "fileSize": 209587,
                    "height": 683,
                    "url": "/media/photologue/photos/_-28.jpg",
                    "width": 1024,
                    "type": "image"
                  }
                ],
                "group": "Природа"
              }
            </script>
          </a>
        </div>
        <div class="gallery-item">
          <a
            href="#"
            class="w-inline-block w-lightbox"
            aria-label="open lightbox"
            aria-haspopup="dialog">
            <img
              src="/media/photologue/photos/_-29.jpg"
              loading="lazy"
              srcset="
                /media/photologue/photos/_-29.jpg  500w,
                /media/photologue/photos/_-29.jpg  800w,
                /media/photologue/photos/_-29.jpg 1024w
              "
              sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 29vw, 290.2083435058594px"
              alt="" />
            <script type="application/json" class="w-json">
              {
                "items": [
                  {
                    "_id": "example_img",
                    "origFileName": "_-29.jpg",
                    "fileName": "_-29.jpg",
                    "fileSize": 209587,
                    "height": 683,
                    "url": "/media/photologue/photos/_-29.jpg",
                    "width": 1024,
                    "type": "image"
                  }
                ],
                "group": "Природа"
              }
            </script>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div
      class="w-lightbox-backdrop w-lightbox-hide"
      style="transition: opacity 300ms ease 0s; opacity: 0">
      <div class="w-lightbox-container">
        <div class="w-lightbox-content">
          <div
            class="w-lightbox-spinner w-lightbox-hide"
            role="progressbar"
            aria-live="polite"
            aria-hidden="true"
            aria-busy="false"
            aria-valuemin="0"
            aria-valuemax="100"
            aria-valuenow="100"
            aria-valuetext="Loaded image"></div>
          <div
            class="w-lightbox-control w-lightbox-left w-lightbox-inactive"
            role="button"
            aria-hidden="false"
            aria-controls="w-lightbox-view"
            aria-label="previous image"
            tabindex="0"></div>
          <div
            class="w-lightbox-control w-lightbox-right w-lightbox-inactive"
            role="button"
            aria-hidden="true"
            aria-controls="w-lightbox-view"
            aria-label="next image"
            tabindex="-1"></div>
          <div
            class="w-lightbox-control w-lightbox-close"
            role="button"
            aria-label="close lightbox"
            tabindex="0"></div>
        </div>
        <div class="w-lightbox-strip" role="tablist"></div>
      </div>
    </div>

  {% endblock %}
</body>
