{% extends 'blog/base.html' %}

{% load static %}

{% block title %} Горный воздух Гузерипль {% endblock %}

{% block meta %}
  <meta name="description" content="Бронирование мест в Адыгее. Лучший отдых в любую погоду в гостинице Горный воздух"/>
  <meta property="og:title" content="Горный воздух Гузерипль"/>
  <meta property="og:description" content="Бронирование мест в Адыгее. Лучший отдых в любую погоду в гостинице Горный воздух"/>
{% endblock %}

{% block content %}
  <body class="body">
    <div data-w-id="44196043-6c6d-3952-3477-81638358d1c8" class="header wf-section">
      {% include 'blog/navbar.html' %}
    </div>
    <div class="slider wf-section">
      <div data-delay="4000" data-animation="slide" class="slider-container w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
        <div class="w-slider-mask">
          <div data-w-id="a43a6ab5-da56-9c66-d74e-a3aff5cdbad2" class="slider-slide slide1 w-slide">
            <div class="slider-text-container w-container">
              <h3 style="opacity:0" class="slider-header-1">Добро пожаловать в</h3>
              <div style="opacity:0" class="slider-line"></div>
              <h2 style="opacity:0" class="slider-header-2">Горный воздух</h2>
              <div style="opacity:0" class="slider-text">В любое время года с нами уютно!</div>
            </div>
          </div>
          <div class="slider-slide slide2 w-slide">
          </div>
          <div class="slider-slide slide3 w-slide">
          </div>
        </div>
        <div class="w-slider-arrow-left">
          <div class="w-icon-slider-left"></div>
        </div>
        <div class="w-slider-arrow-right">
          <div class="w-icon-slider-right"></div>
        </div>
        <div class="w-slider-nav w-round"></div>
      </div>
    </div>
    <div class="room wf-section">
      <div class="w-container">
          <h3 class="room-header">Номера</h3>
          <div class="w-row">
              <div class="w-col w-col-6">
                  <div class="room-container">
                      <img src="{% static 'img/8W7A3636.jpg' %}" loading="lazy" sizes="(max-width: 767px) 96vw, (max-width: 991px) 354px, 460px" srcset="{% static 'img/8W7A3636.jpg' %} 500w, {% static 'img/8W7A3636.jpg' %} 800w" alt="" class="room-image">
                      <p class="room-description">Стандарт семейный</p>
                      <div class="gallery-button-container"><a href="/the-rooms/standart-family-room/" class="gallery-button">Подробнее <i class="fa fa-arrow-right room-arrow"></i></a></div>
                  </div>
              </div>
              <div class="w-col w-col-6">
                  <div class="room-container">
                      <img src="{% static 'img/slider6.png' %}" loading="lazy" sizes="(max-width: 767px) 96vw, (max-width: 991px) 354px, 460px" srcset="{% static 'img/slider6.png' %} 500w, {% static 'img/slider6.png' %} 800w, {% static 'img/slider6.png' %} 1080w, {% static 'img/slider6.png' %} 1200w" alt="" class="room-image">
                      <p class="room-description">Люкс семейный</p>
                      <div class="gallery-button-container"><a href="/the-rooms/lux-family-room/" class="gallery-button">Подробнее <i class="fa fa-arrow-right room-arrow"></i></a></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
    <div class="booking wf-section" id="booking">
      <div class="w-container">
        <h3 class="booking-header">ЗАБРОНИРОВАТЬ</h3>
        <div id="booking_iframe" style="padding-bottom: 32px;position: relative;">
            <div id="bn_iframe" style='position: absolute;right: 0;margin-top: 12px;font-family: "Proxima Nova", "Helvetica Neue", "Cera Pro Medium", Arial, Helvetica, sans-serif;font-size: 12px;line-height: 1em;opacity: 0.5;z-index: 3;bottom:0;'>
            </div>
        </div>
            <script src="https://widget.reservationsteps.ru/iframe/library/dist/booking_iframe.js"></script>
            <script type="text/javascript">
            var BookingIframe = new BookingIframe({
            html_id: 'booking_iframe',
            uid: '67c03be7-428d-4043-9e56-be716a14cbec',
            lang: 'ru',
            width: 'auto',
            height: 'auto',
            rooms: '',
            IsMobile: '0',
            scroll_to_rooms: '0'
            })
            BookingIframe.init()
            </script>
      </div>
    </div>
    <div class="about-us wf-section" id="about">
      <div class="w-container">
        <div class="w-row">
          <div class="about-us-column1 w-col w-col-6">
            <h3 class="about-us-header">КРАТКО О НАС</h3>
            <div class="about-us-line"></div>
          </div>
          <div class="w-col w-col-6">
            <p class="about-us-text">
              <strong class="bold-text-2"> 
                Гостевой дом «Горный Воздух» приглашает Вас отправиться в путешествие в Адыгею! </br>
                Наш небольшой, уютный Гостевой дом «Горный Воздух» расположен на реке Желобной, в живописном месте, у подножия Главного Кавказского хребта в поселке Гузерипль. Здесь гости могут посетить красивые и живописные места, которые оставят в памяти незабываемые впечатления на долгое время с желанием приезжать к нам. 
              </strong>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="gallery wf-section" data-w-id="bc3fe168-4b49-f0fb-3009-d412543dd460">
      <div class="w-container">
        <h1 class="gallery-header">Фото</h1>
        <div class="gallery-line"></div>
        <div class="gallery-container">

          <div class="gallery-item">
            <a
              href="#"
              class="gallery-page-image w-inline-block w-lightbox"
              aria-label="open lightbox"
              aria-haspopup="dialog">
              <img
                src="{% static 'img/8W7A3478.jpg' %}"
                loading="lazy"
                srcset="
                {% static 'img/8W7A3478.jpg' %}  500w,
                {% static 'img/8W7A3478.jpg' %}  800w,
                {% static 'img/8W7A3478.jpg' %}  1024w
                "
                sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 29vw, 290.2083435058594px"
                alt="" style="opacity:1;" class="gallery-image gallery-image-1" />
              <script type="application/json" class="w-json">
                {
                  "items": [
                    {
                      "_id": "example_img",
                      "origFileName": "8W7A3478.jpg",
                      "fileName": "8W7A3478.jpg",
                      "fileSize": 209587,
                      "height": 683,
                      "url": "{% static 'img/8W7A3478.jpg' %}",
                      "width": 1024,
                      "type": "image"
                    }
                  ],
                  "group": ""
                }
              </script>
            </a>
          </div>
          <div class="gallery-item">
            <a
              href="#"
              class="w-inline-block w-lightbox"
              aria-label="open lightbox"
              aria-haspopup="dialog">
              <img
                src="{% static 'img/-44.jpg' %}"
                loading="lazy"
                srcset="
                {% static 'img/-44.jpg' %}  500w,
                {% static 'img/-44.jpg' %}  800w,
                {% static 'img/-44.jpg' %} 1024w
                "
                sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 29vw, 290.2083435058594px"
                alt="" style="opacity:1;" class="gallery-image gallery-image-2"/>
              <script type="application/json" class="w-json">
                {
                  "items": [
                    {
                      "_id": "example_img",
                      "origFileName": "-44.jpg",
                      "fileName": "-44.jpg",
                      "fileSize": 209587,
                      "height": 683,
                      "url": "{% static 'img/-44.jpg' %}",
                      "width": 1024,
                      "type": "image"
                    }
                  ],
                  "group": ""
                }
              </script>
            </a>
          </div>
          <div class="gallery-item">
            <a
              href="#"
              class="w-inline-block w-lightbox"
              aria-label="open lightbox"
              aria-haspopup="dialog">
              <img
                src="{% static 'img/-43.jpg' %}"
                loading="lazy"
                srcset="
                {% static 'img/-43.jpg' %}  500w,
                {% static 'img/-43.jpg' %}  800w,
                {% static 'img/-43.jpg' %} 1024w
                "
                sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 29vw, 290.2083435058594px"
                alt="" style="opacity:1;" class="gallery-image gallery-image-3" />
              <script type="application/json" class="w-json">
                {
                  "items": [
                    {
                      "_id": "example_img",
                      "origFileName": "-43.jpg",
                      "fileName": "-43.jpg",
                      "fileSize": 209587,
                      "height": 683,
                      "url": "{% static 'img/-43.jpg' %}",
                      "width": 1024,
                      "type": "image"
                    }
                  ],
                  "group": ""
                }
              </script>
            </a>
          </div>
          <div class="gallery-item">
            <a
              href="#"
              class="w-inline-block w-lightbox"
              aria-label="open lightbox"
              aria-haspopup="dialog">
              <img
                src="{% static 'img/-3.jpg' %}"
                loading="lazy"
                srcset="
                {% static 'img/-3.jpg' %}  500w,
                {% static 'img/-3.jpg' %}  800w,
                {% static 'img/-3.jpg' %} 1024w
                "
                sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 29vw, 290.2083435058594px"
                alt="" style="opacity:1;" class="gallery-image gallery-image-4"/>
              <script type="application/json" class="w-json">
                {
                  "items": [
                    {
                      "_id": "example_img",
                      "origFileName": "-3.jpg",
                      "fileName": "-3.jpg",
                      "fileSize": 209587,
                      "height": 683,
                      "url": "{% static 'img/-3.jpg' %}",
                      "width": 1024,
                      "type": "image"
                    }
                  ],
                  "group": ""
                }
              </script>
            </a>
          </div>
          <div class="gallery-item">
            <a
              href="#"
              class="w-inline-block w-lightbox"
              aria-label="open lightbox"
              aria-haspopup="dialog">
              <img
                src="{% static 'img/-11.jpg' %}"
                loading="lazy"
                srcset="
                {% static 'img/-11.jpg' %}  500w,
                {% static 'img/-11.jpg' %}  800w,
                {% static 'img/-11.jpg' %} 1024w
                "
                sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 29vw, 290.2083435058594px"
                alt="" style="opacity:1;" class="gallery-image gallery-image-5"/>
              <script type="application/json" class="w-json">
                {
                  "items": [
                    {
                      "_id": "example_img",
                      "origFileName": "_-11.jpg",
                      "fileName": "_-11.jpg",
                      "fileSize": 209587,
                      "height": 683,
                      "url": "{% static 'img/-11.jpg' %}",
                      "width": 1024,
                      "type": "image"
                    }
                  ],
                  "group": ""
                }
              </script>
            </a>
          </div>
          <div class="gallery-item">
            <a
              href="#"
              class="w-inline-block w-lightbox"
              aria-label="open lightbox"
              aria-haspopup="dialog">
              <img
                src="{% static 'img/-20.jpg' %}"
                loading="lazy"
                srcset="
                {% static 'img/-20.jpg' %}  500w,
                {% static 'img/-20.jpg' %}  800w,
                {% static 'img/-20.jpg' %} 1024w
                "
                sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 29vw, 290.2083435058594px"
                alt="" style="opacity:1;" class="gallery-image gallery-image-6"/>
              <script type="application/json" class="w-json">
                {
                  "items": [
                    {
                      "_id": "example_img",
                      "origFileName": "-20.jpg",
                      "fileName": "-20.jpg",
                      "fileSize": 209587,
                      "height": 683,
                      "url": "{% static 'img/-20.jpg' %}",
                      "width": 1024,
                      "type": "image"
                    }
                  ],
                  "group": ""
                }
              </script>
            </a>
          </div>
          </div>
        <div class="gallery-button-container"><a href="/gallery" class="gallery-button">Больше фото <i class="fa fa-arrow-right gallery-arrow"></i></a></div>
      </div>
    </div>
    <div class="reviews wf-section" id="reviews">
      <div class="w-container">
        <div data-delay="4000" data-animation="slide" class="review-slider w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
          <h3 class="review-heading">Отзывы</h3>
          <div class="w-slider-mask">
            <div class="w-slide">
              <p class="review-text">«Мы с семьей часто отдыхаем на природе. Выбираем места где потише и немного людей. Горный воздух для нас идеально подходит. Приезжаем сюда уже не в первый раз. Все нравится, еще бы завтраки организовали:, так как утром не хочется готовить. Но рядом есть кафе, можно сходить туда.»</p>
              <p class="review-icon"><i class="fa fa-angle-down"></i></p>
              <p class="review-author">Инга</p>
            </div>
            <div class="w-slide">
              <p class="review-text">«Отдых в таких местах  мне всегда нравился. Тем более понравилось, что здание самого Дома деревянное, сделано из сруба. Я вообще люблю дерево. Особо хочу отметить хозяев. Теплое, по-настоящему располагающее общение, все достопримечательности расскажут и покажут, если нужно – отвезут. Достойно!».</p>
              <p class="review-icon"><i class="fa fa-angle-down"></i></p>
              <p class="review-author">Андрей Семенов</p>
            </div>
          </div>
          <div class="review-left-arrow w-slider-arrow-left">
            <div class="review-icon-right w-icon-slider-left"></div>
          </div>
          <div class="right-arrow w-slider-arrow-right">
            <div class="review-icon-right w-icon-slider-right"></div>
          </div>
          <div class="review-nav w-slider-nav w-round w-num"></div>
        </div>
      </div>
    </div>
  {% endblock %}
