{% extends 'blog/base.html' %}

{% load static %}

{% block title %} Люкс семейный {% endblock %}

{% block meta %}
  <meta name="description" content="Забронировать номер Люкс семейный в гостинице Горный воздух"/>
  <meta property="og:title" content="Люкс семейный"/>
  <meta property="og:description" content="Забронировать номер Люкс семейный в гостинице Горный воздух"/>
{% endblock %}

{% block content %}

<body>
    <div class="header-page wf-section">
      {% include 'blog/navbar.html' %}
    </div>
    <div class="page-header wf-section">
      <div class="w-container">
        <h2 class="page-header-h2">Люкс семейный</h2>
        <div class="header-page-line"></div>
      </div>
    </div>

    <div class="rooms-page wf-section">
        <div class="w-container rooms-page-container">
            <div class="w-col w-col-8">
              <div class="rooms-page-thumbnail">
                <img src="{% static 'img/slider6.png' %}" loading="lazy" sizes="(max-width: 767px) 96vw, (max-width: 991px) 354px, 460px" srcset="{% static 'img/slider6.png' %} 500w, {% static 'img/slider6.png' %} 800w, {% static 'img/slider6.png' %} 1080w, {% static 'img/slider6.png' %} 1200w" alt="" class="room-page-image">
              </div>
              <div class="rooms-page-title-wrapper">
                <h3 class="rooms-page-title">Люкс семейный</h3>
              </div> 
              <div class="rooms-single-page-info-wrapper">
                <div class="rooms-single-page-info">
                  <i class="fa fa-bed rooms-page-icon"></i><span> Двуспальная кровать</span>
                </div>
                <div class="rooms-single-page-info">
                  <i class="fa fa-check-square-o rooms-page-icon"></i><span> Раскладной диван</span>
                </div>
                <div class="rooms-single-page-info">
                  <i class="fa fa-snowflake-o rooms-page-icon"></i><span>Холодильник</span>
                </div>
                <div class="rooms-single-page-info">
                  <i class="fa fa-check-square-o rooms-page-icon"></i><span>Микроволновая печь</span>
                </div>
                <div class="rooms-single-page-info">
                  <i class="fa fa-television rooms-page-icon"></i><span>Телевизор</span>
                </div>
                <div class="rooms-single-page-info">
                  <i class="fa fa-s15 rooms-page-icon"></i><span>Душ и туалет</span>
                </div>
                <div class="rooms-single-page-info">
                  <i class="fa fa-check-square-o rooms-page-icon"></i><span>Электрический чайник</span>
                </div>
                <div class="rooms-single-page-info">
                  <i class="fa fa-check-square-o rooms-page-icon"></i><span>Шкаф для одежды</span>
                </div>
                <div class="rooms-single-page-info">
                  <i class="fa fa-check-square-o rooms-page-icon"></i><span>Стол и табуреты</span>
                </div>
                <div class="rooms-single-page-info">
                  <i class="fa fa-check-square-o rooms-page-icon"></i><span>Горячая вода 24/7</span>
                </div>
                <div class="rooms-single-page-info">
                  <i class="fa fa-check-square-o rooms-page-icon"></i><span>Полотенца, постельное белье</span>
                </div>
                <div class="rooms-single-page-info">
                  <i class="fa fa-check-square-o rooms-page-icon"></i><span>Фен, утюг</span>
                </div>
                <div class="rooms-single-page-info">
                  <i class="fa fa-check-square-o rooms-page-icon"></i><span>Услуги стиральной и посудомоечной машины</span>
                </div>
                <div class="rooms-single-page-info">
                  <i class="fa fa-check-square-o rooms-page-icon"></i><span>Площадь - 40 кв.м</span>
                </div>
                <div class="rooms-single-page-info">
                  <i class="fa fa-check-square-o rooms-page-icon"></i><span>Максимальная вместимость 3 человека взрослых и/или 1-2 детей.</span>
                </div>
              </div>

                

                <div class="gallery-container-room">
                    <div class="gallery-item-room">
                      <a
                        href="#"
                        class="gallery-page-image w-inline-block w-lightbox"
                        aria-label="open lightbox"
                        aria-haspopup="dialog">
                        <img
                          src="/media/photologue/photos/8W7A3290.jpg"
                          loading="lazy"
                          srcset="
                            /media/photologue/photos/8W7A3290.jpg  500w,
                            /media/photologue/photos/8W7A3290.jpg  800w,
                            /media/photologue/photos/8W7A3290.jpg 1024w
                          "
                          sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 29vw, 290.2083435058594px"
                          alt="" />
                        <script type="application/json" class="w-json">
                          {
                            "items": [
                              {
                                "_id": "example_img",
                                "origFileName": "8W7A3290.jpg",
                                "fileName": "8W7A3290.jpg",
                                "fileSize": 209587,
                                "height": 683,
                                "url": "/media/photologue/photos/8W7A3290.jpg",
                                "width": 1024,
                                "type": "image"
                              }
                            ],
                            "group": "Люкс Семейный"
                          }
                        </script>
                      </a>
                    </div>

                    <div class="gallery-item-room">
                        <a
                          href="#"
                          class="gallery-page-image w-inline-block w-lightbox"
                          aria-label="open lightbox"
                          aria-haspopup="dialog">
                          <img
                            src="/media/photologue/photos/8W7A3634B.jpg"
                            loading="lazy"
                            srcset="
                              /media/photologue/photos/8W7A3634B.jpg  500w,
                              /media/photologue/photos/8W7A3634B.jpg  800w,
                              /media/photologue/photos/8W7A3634B.jpg 1024w
                            "
                            sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 29vw, 290.2083435058594px"
                            alt="" />
                          <script type="application/json" class="w-json">
                            {
                              "items": [
                                {
                                  "_id": "example_img",
                                  "origFileName": "8W7A3634B.jpg",
                                  "fileName": "8W7A3634B.jpg",
                                  "fileSize": 209587,
                                  "height": 683,
                                  "url": "/media/photologue/photos/8W7A3634B.jpg",
                                  "width": 1024,
                                  "type": "image"
                                }
                              ],
                              "group": "Люкс Семейный"
                            }
                          </script>
                        </a>
                      </div>


                      

                      <div class="gallery-item-room">
                        <a
                          href="#"
                          class="gallery-page-image w-inline-block w-lightbox"
                          aria-label="open lightbox"
                          aria-haspopup="dialog">
                          <img
                            src="/media/photologue/photos/8W7A3637.jpg"
                            loading="lazy"
                            srcset="
                              /media/photologue/photos/8W7A3637.jpg  500w,
                              /media/photologue/photos/8W7A3637.jpg  800w,
                              /media/photologue/photos/8W7A3637.jpg 1024w
                            "
                            sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 29vw, 290.2083435058594px"
                            alt="" />
                          <script type="application/json" class="w-json">
                            {
                              "items": [
                                {
                                  "_id": "example_img",
                                  "origFileName": "8W7A3637.jpg",
                                  "fileName": "8W7A3637.jpg",
                                  "fileSize": 209587,
                                  "height": 683,
                                  "url": "/media/photologue/photos/8W7A3637.jpg",
                                  "width": 1024,
                                  "type": "image"
                                }
                              ],
                              "group": "Люкс Семейный"
                            }
                          </script>
                        </a>
                      </div>

                      <div class="gallery-item-room">
                        <a
                          href="#"
                          class="gallery-page-image w-inline-block w-lightbox"
                          aria-label="open lightbox"
                          aria-haspopup="dialog">
                          <img
                            src="/media/photologue/photos/8W7A3638.jpg"
                            loading="lazy"
                            srcset="
                              /media/photologue/photos/8W7A3638.jpg  500w,
                              /media/photologue/photos/8W7A3638.jpg  800w,
                              /media/photologue/photos/8W7A3638.jpg 1024w
                            "
                            sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 29vw, 290.2083435058594px"
                            alt="" />
                          <script type="application/json" class="w-json">
                            {
                              "items": [
                                {
                                  "_id": "example_img",
                                  "origFileName": "8W7A3638.jpg",
                                  "fileName": "8W7A3638.jpg",
                                  "fileSize": 209587,
                                  "height": 683,
                                  "url": "/media/photologue/photos/8W7A3638.jpg",
                                  "width": 1024,
                                  "type": "image"
                                }
                              ],
                              "group": "Люкс Семейный"
                            }
                          </script>
                        </a>
                      </div>

                      <div class="gallery-item-room">
                        <a
                          href="#"
                          class="gallery-page-image w-inline-block w-lightbox"
                          aria-label="open lightbox"
                          aria-haspopup="dialog">
                          <img
                            src="/media/photologue/photos/8W7A3644.jpg"
                            loading="lazy"
                            srcset="
                              /media/photologue/photos/8W7A3644.jpg  500w,
                              /media/photologue/photos/8W7A3644.jpg  800w,
                              /media/photologue/photos/8W7A3644.jpg 1024w
                            "
                            sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 29vw, 290.2083435058594px"
                            alt="" />
                          <script type="application/json" class="w-json">
                            {
                              "items": [
                                {
                                  "_id": "example_img",
                                  "origFileName": "8W7A3644.jpg",
                                  "fileName": "8W7A3644.jpg",
                                  "fileSize": 209587,
                                  "height": 683,
                                  "url": "/media/photologue/photos/8W7A3644.jpg",
                                  "width": 1024,
                                  "type": "image"
                                }
                              ],
                              "group": "Люкс Семейный"
                            }
                          </script>
                        </a>
                      </div>
                      <div class="gallery-item-room">
                        <a
                          href="#"
                          class="gallery-page-image w-inline-block w-lightbox"
                          aria-label="open lightbox"
                          aria-haspopup="dialog">
                          <img
                            src="/media/photologue/photos/8W7A3649.jpg"
                            loading="lazy"
                            srcset="
                              /media/photologue/photos/8W7A3649.jpg  500w,
                              /media/photologue/photos/8W7A3649.jpg  800w,
                              /media/photologue/photos/8W7A3649.jpg 1024w
                            "
                            sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 29vw, 290.2083435058594px"
                            alt="" />
                          <script type="application/json" class="w-json">
                            {
                              "items": [
                                {
                                  "_id": "example_img",
                                  "origFileName": "8W7A3649.jpg",
                                  "fileName": "8W7A3649.jpg",
                                  "fileSize": 209587,
                                  "height": 683,
                                  "url": "/media/photologue/photos/8W7A3649.jpg",
                                  "width": 1024,
                                  "type": "image"
                                }
                              ],
                              "group": "Люкс Семейный"
                            }
                          </script>
                        </a>
                      </div>
                      <div class="gallery-item-room">
                        <a
                          href="#"
                          class="gallery-page-image w-inline-block w-lightbox"
                          aria-label="open lightbox"
                          aria-haspopup="dialog">
                          <img
                            src="/media/photologue/photos/8W7A3279.jpg"
                            loading="lazy"
                            srcset="
                              /media/photologue/photos/8W7A3279.jpg  500w,
                              /media/photologue/photos/8W7A3279.jpg  800w,
                              /media/photologue/photos/8W7A3279.jpg 1024w
                            "
                            sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 29vw, 290.2083435058594px"
                            alt="" />
                          <script type="application/json" class="w-json">
                            {
                              "items": [
                                {
                                  "_id": "example_img",
                                  "origFileName": "8W7A3279.jpg",
                                  "fileName": "8W7A3279.jpg",
                                  "fileSize": 209587,
                                  "height": 683,
                                  "url": "/media/photologue/photos/8W7A3279.jpg",
                                  "width": 1024,
                                  "type": "image"
                                }
                              ],
                              "group": "Люкс Семейный"
                            }
                          </script>
                        </a>
                      </div>

                      <div class="gallery-item-room">
                        <a
                          href="#"
                          class="gallery-page-image w-inline-block w-lightbox"
                          aria-label="open lightbox"
                          aria-haspopup="dialog">
                          <img
                            src="/media/photologue/photos/8W7A3283.jpg"
                            loading="lazy"
                            srcset="
                              /media/photologue/photos/8W7A3283.jpg  500w,
                              /media/photologue/photos/8W7A3283.jpg  800w,
                              /media/photologue/photos/8W7A3283.jpg 1024w
                            "
                            sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 29vw, 290.2083435058594px"
                            alt="" />
                          <script type="application/json" class="w-json">
                            {
                              "items": [
                                {
                                  "_id": "example_img",
                                  "origFileName": "8W7A3283.jpg",
                                  "fileName": "8W7A3283.jpg",
                                  "fileSize": 209587,
                                  "height": 683,
                                  "url": "/media/photologue/photos/8W7A3283.jpg",
                                  "width": 1024,
                                  "type": "image"
                                }
                              ],
                              "group": "Люкс Семейный"
                            }
                          </script>
                        </a>
                      </div>
                  </div>
                  <p>Ознакомиться с правилами проживания можно <a href="/pravila-prozhivania">здесь</a>.</p>
              </div>
          </div>
      </div>

      <div class="booking wf-section" id="booking">
        <div class="w-container">
          <h3 class="booking-header">ЗАБРОНИРОВАТЬ</h3>
          <div id="booking_iframe" style="padding-bottom: 32px;position: relative;">
              <div id="bn_iframe" style='position: absolute;right: 0;margin-top: 12px;font-family: "Proxima Nova", "Helvetica Neue", "Cera Pro Medium", Arial, Helvetica, sans-serif;font-size: 12px;line-height: 1em;opacity: 0.5;z-index: 3;bottom:0;'>
              </div>
          </div>
              <script src="https://widget.reservationsteps.ru/iframe/library/dist/booking_iframe.js"></script>
              <script type="text/javascript">
              var BookingIframe = new BookingIframe({
              html_id: 'booking_iframe',
              uid: '67c03be7-428d-4043-9e56-be716a14cbec',
              lang: 'ru',
              width: 'auto',
              height: 'auto',
              rooms: '',
              IsMobile: '0',
              scroll_to_rooms: '0'
              })
              BookingIframe.init()
              </script>
        </div>
      </div>


{% endblock %}