{% load static %}

<div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
    <div class="navbar-container w-container">
      <a href="#" class="logo-container w-nav-brand"><img loading="lazy" src="{% static 'img/logo.webp' %}" alt="" class="logo-image"></a>
      <nav role="navigation" class="w-nav-menu main-menu">
        <a href="/" class="menu-item w-nav-link">Главная</a>
        <a href="#booking" class="menu-item w-nav-link">Забронировать</a>
        <a href="#about" class="menu-item w-nav-link">О нас</a>
        <a href="/gallery" class="menu-item w-nav-link">Фото</a>
        <a href="#reviews" class="menu-item w-nav-link">Отзывы</a>
        <a href="/contact" class="menu-item w-nav-link">Контакты</a></nav>
      <div class="w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>