{% extends 'blog/base.html' %}

{% load static %}

{% block title %} Номера Гостиницы Горный Воздух {% endblock %}

{% block meta %}
  <meta name="description" content="Правила проживания в гостинице Горный воздух"/>
  <meta property="og:title" content="Правила проживания в гостинице Горный воздух"/>
  <meta property="og:description" content="Правила проживания в гостинице Горный воздух"/>
{% endblock %}

{% block content %}

<body>
    <div class="header-page wf-section">
      {% include 'blog/navbar.html' %}
    </div>
    <div class="page-header wf-section">
      <div class="w-container">
        <h2 class="page-header-h2">Правила проживания</h2>
        <div class="header-page-line"></div>
      </div>
    </div>
    
    <div class="pravila-page wf-section">
      <div class="w-container">
        <h3>Правила проживания:</h3>
        <ul>
            <li>Заезд после 14:00 и до 20:00, выезд до 12:00.</li>
            <li>Частная бесплатная парковка (с видеонаблюдением)</li>
            <li>Wi-Fi</li>
            <li>Проживание родителей с детьми до 5 лет бесплатно (на имеющихся кроватях). Детских кроватей не предоставляется. Дети старше 14 лет – дополнительно 500 руб/сутки.</li>
            <li>Размещение домашних животных не допускается.</li>
            <li>Приглашение в номера и на территорию посторонних лиц допускается только по согласованию с администрацией.</li>
            <li>Курение на всей территории (включая номера и беседки) строго запрещено. Курение разрешено в специальном месте.</li>
            <li>Разжигание костра в мангале разрешено только для приготовления пищи, строго под наблюдением.</li>
            <li>Родители осуществляют контроль за действиями своих детей, не допуская их самостоятельного выхода к реке, мангалам, на веранды.</li>
            <li>На всей территории для безопасности гостей ведется видеонаблюдение.</li>
            <li>На территории поселка Гузерипль действует только мобильная телефонная связь МТС.</li>
        </ul>
        <h3>Правила бронирования:</h3>
        <ul>
            <li>Оплата стоимости суток (при оплате 100% аванса ранее 30 дней до заезда скидка 20%, тариф «Невозвратный – 10%»).</li>
            <li>Отмена бронирования – бесплатно, с учетом комиссия банка (в случае отмены менее чем 3 суток до заезда – удерживается вся сумма (может быть использована для следующего бронирования).</li>
        </ul> 
      </div>
    </div>

{% endblock %}